<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List App</title>
</head>
<body>
    <h1>hello django</h1>

    <form method="POST" action="/">
        {% csrf_token %}
        {{ form.title }}
        <input type="submit" name="Create Task">
    </form>

    {%  for task in tasks %}
    <div>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete_task' task.id %}">Delete</a>
        <p>{{ task }}</p>
    </div>
    {% endfor %}
</body>
</html>